<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Theme Simply Me</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

	.body {
		background-color: #EEEEEE;
	}
	.header {
		height: 50px;
		background-color: red;
	}
	.header-text {
		padding-top: 10px;
		color: white;
	}
	.container-fluid {
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 20px;
		background-color: #EEEEEE;
		height: 100vh;
	}
	hr {
		border: 0;
		clear:both;
		display:block;
		width: 76%;               
		background-color:black;
		height: 1px;
	}
</style>
<body>
	<div class="row header text-center">
		<p class="lead header-text">Enter Your Email Message Below</p>
	</div>
	<div class="container-fluid">
		<div class="row text-center">
			<p>Enter your message into the textbox below and hit <i>ANALYZE</i> in order to create a tone summary</p>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Message</label>
					<form method="post" action="/add" class="text-center">
						<textarea class="form-control" name="txt" id="email-text" style="height:400px"></textarea>
						<br>
						<input type="submit" value="Submit" class="btn-primary" style="width:200px"/>
					</form>
				</div>
			</div>
			<div class="col-md-6">
				<label>Analysis</label>
				<div class="panel panel-default" style="height:450px">
					<div class="panel-body">
						<table style="width:350px; border:1px solid black;">
						
						<ul>
  							<% for(var i=0; i<emotionArray.length; i++) {%>
   							 <li><%= emotionArray[i].name %> - <%= emotionArray[i].value %></li>
  							<% } %>
						</ul>
   					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>